<div>

  <h1 class="title text-center">{{signType}}</h1>

  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">

    <app-input
      autocomplete="email"
      class="input"
      formControlName="email"
      type="email"
      labelText="Login"
      [errorMassage]="emailErrorText"
      placeholder="Write your email...">
    </app-input>

    <app-input
      autocomplete="new-password"
      class="input"
      formControlName="pass"
      type="password"
      labelText="Password"
      [errorMassage]="passwordErrorText"
      placeholder="Write your password...">
    </app-input>

    <p (click)="changeMethod()" class="sign-up-button">{{messageText}}</p>

    <button [disabled]="credentialsForm.invalid" class="button" type="button">{{signType}}</button>

  </form>
</div>
