<div>
  <h2>
    <span
      class="sign-title"
      (click)="onChangeMethod('sign In')"
      [class.active]="signType === 'sign In'"
    >Sign In</span>
    /
    <span
      class="sign-title"
      (click)="onChangeMethod('sign Up')"
      [class.active]="signType === 'sign Up'"
    >Sign Up</span>
  </h2>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <app-input
      autocomplete="email"
      class="input"
      formControlName="email"
      type="email"
      labelText="Login"
      placeholder="Write your email...">
    </app-input>
    <app-input
      autocomplete="new-password"
      class="input"
      formControlName="pass"
      type="password"
      labelText="Password"
      placeholder="Write your password...">
    </app-input>
    <button class="button" type="submit">{{signType}}</button>
  </form>
</div>
