:host {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;

  .title {
    color: black;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  .sign-up-button {
    cursor: pointer;
    margin-bottom: 1rem;
    text-decoration: underline;
    color: blue;
  }

  .button {
    width: 100%;
    height: 3rem;
    text-transform: capitalize;
    border: 0.5px solid #cccccc;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
