<section class="main">
  <header class="header">
    Organizer: <strong>{{getDate | moment: 'DD MMMM, YYYY'}}</strong>
    <hr>
  </header>


  <main>
    <ul *ngIf="tasks.length; else noTasks">
      <li
        *ngFor="let task of tasks; index as i"
        class="task flex jcsb aic">
        <span>
          <strong>{{i + 1}}</strong>
          {{task.title}}
        </span>
        <button (click)="onRemove(task)" class="btn btn-primary">remove</button>
      </li>
    </ul>

    <ng-template #noTasks>
      <p class="text-center">No tasks yet...</p>
    </ng-template>
  </main>

  <footer>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="title">

      <button [disabled]="form.invalid" type="submit" class="btn btn-block btn-primary">Add</button>
    </form>
  </footer>
</section>
