.calendar-days {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;

  .cell {
    border: 1px solid black;
    padding: .5rem 1rem;
  }

  .day-cell {
    text-align: center;
    transition: all .2s;

    &.disabled {
      opacity: .5;
    }

    &:hover:not(.disabled):not(.selected) {
      background-color: #eee;
      cursor: pointer;
    }
  }

  .active {
    color: var(--primary-color);
    font-weight: bold;
  }

  .selected {
    background-color: rgba(0, 0, 255, 0.05);
    cursor: default;

    .date {
      color: blue;
    }
  }
}
